body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f8ff;
  color: #1a1a1a;
}

header {
  background: #2563eb;
  color: white;
  padding: 60px 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 42px;
}

header p {
  opacity: 0.9;
  margin-top: 10px;
}

.container {
  max-width: 700px;
  margin: -40px auto 0;
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

input {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border: 2px solid #e5e7eb;
  border-radius: 10px;
  outline: none;
}

input:focus {
  border-color: #2563eb;
}

.qr-box {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

#qrcode {
  padding: 15px;
  background: white;
}

.hint {
  text-align: center;
  margin-top: 15px;
  color: #6b7280;
  font-size: 14px;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: blue;
    text-align: center;
    padding: 10px 0;
}

